[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=DartScorer
Comment=DartScorer Application
Icon=/usr/share/dartscorer/images/icon.svg
Exec=/usr/games/DartScorer --fullscreen
Terminal=false
Categories=Game
